/Current_Prototype/BEM/OpenStudioModels

/example_usage/Testscripts

/.idea
/__pycache__

*_paths_config.py

*.pyc

# E+ IDF no longer needed
*idf
# E+/OpenStudio data
*/out
*.sql
*.osm
*.eso

Current_Prototype/Output_Saved
/docs
/simple_office_5zone_building_model
*/runs/